/*START CSS Reset*******************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}  
/*END CSS Reset****************************************************/

/*COLOR SCHEME and FONT INFO****************************************
    Dark gray: #0D0D0D;
    Off-white: #F2F2F2;
    Dark teal: #7ABFBF;
    Light teal: rgba(122, 191, 191, .5);
    Orange-red: #EB5428;

    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    font-weights...
        Bold: 700
        Regular: 400
**/

/*GLOBAL SELECTORS********************************************/
html {
    box-sizing: border-box;
    background-color: rgba(122, 191, 191, .5);
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    width: 414px;
    /* min-width: 414px;
    max-width: 80%; */
    margin: 0 auto;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}
header {
    display: none;
}
h1 {
    font-size: 40px;
}
h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
}
h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px 10px;
}
h3 {
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
dl {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-content: start;
    line-height: 1.5;
}
p, dd {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;
}
dt {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: 10px;
}
dd:nth-child(8) {
    position: relative;
    left: -25px;
}
dd:nth-child(10) {
    position: relative;
    left: -10px;
}
li {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
figcaption {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 10px;
    text-transform: initial;/*should be initial but style isn't taking; fix*/
}
nav {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    order: -2;
    margin-bottom: 30px;
    padding-bottom: 20px;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .25);
}
nav li {
    display: inline-block;
}
nav ul img, nav ul svg {
    width: 20%;
}
nav a {
    text-decoration: none;
}
nav a, nav span {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}
.hidden {
    display: none;
}
input {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
footer {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-bottom: 5px;
}
footer img {
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
}
footer div {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
}
footer small {
    margin-top: 5px;
}
#social {
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 5px;
}
#social li {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
}
#social a {
    text-decoration: none;
    color: #EB5428;
    display: flex;
    flex-flow: column-reverse;
}
#social a svg {
    margin-left: 25px;
    margin-right: 25px;
}
footer h3, footer h2 {
    display: none;
}
.social_name {
    display: block;
}

/*ARTICLE: STREET TACOS*****************************************/
menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-right: 5px;
    margin-bottom: 5px;
}
menu li {
    display: inline-block;
}
menu button {
    border: none;
    background-color: #F2F2F2;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
}
.buttons {
    color: #EB5428;
    display: block;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}
#street_tacos img {
    width: 100%;
}
#street_tacos p:first-of-type {
    margin-top: 10px;
}
.clearfix {
    content: “”;
	display: table;
	clear: both;
}
#street_tacos ul {
    list-style-type: square;
}
#street_tacos ul li {
    margin-left: 20px;
    line-height: 1.7;
    padding-left: 10px;
}
#street_tacos ol {
    list-style-type: decimal;
}
#street_tacos ol li {
    margin-left: 25px;
    margin-right: 5px;
    line-height: 1.7;
    padding-left: 10px;
    margin-bottom: 10px;
}
/*SIDE DISHES SECTION**************************************************/
#side_dishes {
    background-color: #7ABFBF;
}
#side_dishes section {
    height: 155px;
}
#side_dishes h3 {
    text-align: unset;
    position: relative;
    left: 140px;
    padding-bottom: 0;
}
#side_dishes img {
    width: 25%;
    margin-left: 10px;
    position: relative;
    top: -25px;
}
#side_dishes figcaption, #side_dishes p, .stars {
    position: relative;
    top: -100px;
    left: 130px;
    line-height: 1.5;
}
.stars {
    position: relative;
    left: 125px;
}
/*Styling ratings' stars***************/
#side_dishes svg {
    fill: #EB5428;
    margin-left: 3px;
    margin-right: 3px;
}
#side_dishes section svg:last-of-type {
    fill: #ffffff;
}
#side_dishes section:nth-child(3) svg {
    fill: #EB5428;
}
#side_dishes section svg:first-of-type {
    margin-left: 10px;
}

/*HAMBURGER MENU FOR MOBILE DESIGN***********************added nav before all selectors******/
/*Code from before by CC*/
nav ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
nav label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
nav label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
nav label span:before, nav label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
nav label span:before {
    top: 5px;
}
nav label span:after {
    top: -5px;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 500px;
}
nav input:checked ~ label span {
    background: transparent;
}
nav input:checked ~ label span:before {
    transform: rotate(-45deg);
}
nav input:checked ~ label span:after {
    transform: rotate(45deg);
}
nav input:checked ~ label:not(.steps) span:before, nav input:checked ~ label:not(.steps) span:after {
    top: 0;
}
/*My additions********************/
.menu_links {
    color: #000;
}
/*menu label*/
nav li:first-child span {
    position: absolute;
    top: 50px;
    padding-left: 27px;
}
/*sign-in label*/
nav li:last-child span {
    position: absolute;
    top: 52px;
    padding-left: 25px;
}
/*hamburger svg*/
nav h2 {
    width: 45px;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 35px;
}
nav h2 svg {
    position: absolute;
    top: 0;
    margin-left: -33px;
}
/*utensils svg*/
nav li:first-child svg {
    background-color: #EB5428;
    width: 227px;
    position: absolute;
    top: 0;
    margin-left: 91px;
    margin-right: 59px;
    height: 81px;
}
/*avatar svg*/
nav li:last-child svg {
    stroke: #EB5428;
    width: 44px;
    margin-top: 10px;
    margin-left: 36px;
    position: absolute;
    top: 0;
}
/*SEARCH_BAR SECTION********************************************/
#search_bar {
    order: -1;
    display: flex;
    height: 50px;
    width: 300px;
    align-self: center;
}
#search_bar h2 {
    display: none;
}
#search_bar label {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#search_bar input {
    border: 3px solid #EB5428;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#search_bar button {
    background-color: #EB5428;
    border: 2px solid #EB5428;
}
#search_bar button svg {
    stroke: #FFF;
}

/*MEDIA QUERIES************************************************/
@media screen and (min-width:768px) {
    body {
        width: 768px;
    }
    /*Hamburger Menu****************/
    nav ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    nav label span, nav input {
        display: none;
    }
    /*Hamburger Menu****************/

    /*Need to control nav img sizes when get to this width--try layout and if can't control that way, then change their width % here*/
}

@media screen and (min-width:1280px) {
    body {
        width: 1280px;
    }
    article img {
        width: 40%;/*might leave this out and instead change size via layout*/
    }

}