/*START CSS Reset*******************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}  
/*END CSS Reset****************************************************/

/*COLOR SCHEME and FONT INFO****************************************
    Dark gray: #0D0D0D;
    Off-white: #F2F2F2;
    Dark teal: #7ABFBF;
    Light teal: rgba(122, 191, 191, .5);
    Orange-red: #EB5428;

    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
    font-weights...
        Bold: 700
        Regular: 400
**/

/*GLOBAL SELECTORS********************************************/
html {
    box-sizing: border-box;
    background-color: rgba(122, 191, 191, .5);
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    width: 414px;
    /* min-width: 414px;
    max-width: 80%; */
    margin: 0 auto;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}
header {
    display: none;
}
h1 {
    font-size: 40px;
}
h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
}
h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px 10px;
}
h3 {
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
dl {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(5, 1fr);
    justify-content: start;
    line-height: 1.5;
}
p, dd {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 10px;
    margin-right: 10px;
}
dt {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: 10px;
}
dd:nth-child(8) {
    position: relative;
    left: -25px;
}
dd:nth-child(10) {
    position: relative;
    left: -10px;
}
li {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
figcaption {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 10px;
    text-transform: initial;/*should be initial but style isn't taking; fix*/
}
.hidden {
    display: none;
}
input {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
footer {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding-bottom: 5px;
    background-color: #FFF;
}
footer img {
    width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
}
footer div {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
}
footer small {
    margin-top: 5px;
}
#social {
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 5px;
}
#social li {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    display: inline-block;
}
#social a {
    text-decoration: none;
    color: #EB5428;
    display: flex;
    flex-flow: column-reverse;
}
#social a svg {
    margin-left: 25px;
    margin-right: 25px;
}
#social span {
    padding-top: 1px;
    padding-bottom: 2px;
}
#social span:hover {
    background-color: #EB5428;
    color: #FFF;
    transition: all .75s ease-out;
}
footer h3, footer h2 {
    display: none;
}
.social_name {
    display: block;
}

/*ARTICLE: STREET TACOS*****************************************/
menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-right: 5px;
    margin-bottom: 5px;
}
menu li {
    display: inline-block;
}
menu a {
    text-decoration: none;
}
menu button {
    border: none;
    background-color: #F2F2F2;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
}
.buttons {
    color: #EB5428;
    display: block;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    padding-left: 2px;
    padding-right: 2px;
}
.buttons:hover {
    background-color: #EB5428;
    color: #FFF;
    transition: all .5s ease-out;
}
#street_tacos img {
    width: 100%;
}
#street_tacos p:first-of-type {
    margin-top: 10px;
}
.clearfix {
    content: “”;
	display: table;
	clear: both;
}
#street_tacos ul {
    list-style-type: square;
}
#street_tacos ul li {
    margin-left: 20px;
    line-height: 1.7;
    padding-left: 10px;
}
#street_tacos ol {
    list-style-type: decimal;
}
#street_tacos ol li {
    margin-left: 25px;
    margin-right: 5px;
    line-height: 1.7;
    padding-left: 10px;
    margin-bottom: 10px;
}
/*SIDE DISHES SECTION**************************************************/
#side_dishes {
    background-color: #7ABFBF;
}
#side_dishes a {
    text-decoration: none;
    color: #000;
}
#side_dishes section {
    height: 155px;
}
#side_dishes section:hover {
    background-color: #EB5428;
    transition: all .5s ease-out;
}
#side_dishes h3 {
    text-align: unset;
    position: relative;
    left: 140px;
    padding-bottom: 0;
}
#side_dishes img {
    width: 25%;
    margin-left: 10px;
    position: relative;
    top: -25px;
}
#side_dishes figcaption, #side_dishes p, .stars {
    position: relative;
    top: -100px;
    left: 130px;
    line-height: 1.5;
}
.stars {
    position: relative;
    left: 125px;
}
/*Styling ratings' stars***************/
#side_dishes svg {
    fill: #EB5428;
    margin-left: 3px;
    margin-right: 3px;
}
#side_dishes section svg:last-of-type {
    fill: #ffffff;
}
#side_dishes section:nth-child(3) svg {
    fill: #EB5428;
}
#side_dishes section svg:first-of-type {
    margin-left: 10px;
}

/*MAIN NAVIGATION**************************************************************/
/*Code from before by CC*/
nav ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
nav label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    margin-left: 2px;
    position: relative;
    user-select: none;
    width: 89px;/*new*/
    height: 81px;/*new*/
    z-index: 20;/*new*/
}
nav label:hover {
    background-color: rgba(235,84,40,.4);
    border-radius: 90px;
    transition: all .5s ease-out;
}
nav label span {
    background-color: #FFF;
    display: block;
    /* height: 2px;commented this out to make the hamburger lines disappear */
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
nav label span:before, nav label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
nav label span:before {
    top: 5px;
}
nav label span:after {
    top: -5px;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 595px;
}
nav input:checked ~ label span {
    background: transparent;
}
nav input:checked ~ label span:before {
    transform: rotate(-45deg);
}
nav input:checked ~ label span:after {
    transform: rotate(45deg);
}
nav input:checked ~ label:not(.steps) span:before, nav input:checked ~ label:not(.steps) span:after {
    top: 0;
}
/*My additions********************/
.menu_links {
    color: #000;
}
/*putting space above BREAKFAST in nav bar and repositioning slightly*/
nav li:nth-child(2) {
    margin-top: 2px;
    margin-left: -90px;
}
/*making menu items vertically stacked*/
nav a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: 5px;
    margin-left: -2px;
    padding-left: 25px;
    padding-right: 62px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/*menu label*/
nav li:first-child span {
    position: absolute;
    top: 50px;
    margin-left: 3px;
}
/*sign-in label*/
nav li:last-child span {
    position: absolute;
    top: 52px;
    padding-left: 0px;
    margin-left: -15px;
}
/*hamburger svg*/
nav h2 {
    width: 45px;
    position: absolute;
    top: 0;
    margin-top: 10px;
    margin-left: 39px;
}
nav h2 svg {
    position: absolute;
    top: 0;
    margin-left: -35px;
}
/*utensils svg*/
nav li:first-child svg {
    background-color: #EB5428;
    width: 227px;
    position: absolute;
    top: 0;
    margin-left: 69px;
    margin-right: 58px;
    height: 83px;/*new*/
    z-index: 50;/*new*/
}
/*avatar svg*/
nav li:last-child svg {
    stroke: #EB5428;
    width: 44px;
    margin-top: 10px;
    margin-left: -3px;
    position: absolute;
    top: 0;
}
nav li:last-child a {
    margin-left: 2px;
    position: absolute;
    top: 0;
    height: 83px;
    width: 86px;
}
nav li:last-child a:hover {
    background-color: rgba(235,84,40,.4);
    border-radius: 90px;
    transition: all .5s ease-out;
}
/*Reorganize all this code, as the below code is pasted from above*/
nav {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    order: -2;
    margin-bottom: 30px;/*original was 30px*/
    padding-bottom: 0px;/*original was 20px*/
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, .25);
}
nav li {
    display: inline-block;
}
nav ul img, nav ul svg {
    width: 20%;
}
nav a:hover {
    background-color: #EB5428;
    transition: all .5s ease-out;
}
#menu_a {
    background-color: #F2F2F2;
}
nav a, nav span {
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

/*SEARCH_BAR SECTION********************************************/
#search_bar {
    order: -1;
    display: flex;
    height: 50px;
    width: 300px;
    align-self: center;
}
#search_bar h2 {
    display: none;
}
#search_bar label {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#search_bar input {
    border: 3px solid #EB5428;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#search_bar button {
    background-color: #EB5428;
    border: 2px solid #EB5428;
}
#search_bar button svg {
    stroke: #FFF;
}
/*if you change ur mind and want to bold the placeholder, looks too thick to me right now*/
/* #search_bar [placeholder] {
    font-weight: bold;
} */

/*MEDIA QUERIES************************************************/
@media screen and (min-width:768px) {
    body {
        width: 768px;
        background-color: #FFF;
    }
    #street_tacos h2 {
        text-align: left;
        padding-bottom: 30px;
    }
    /*Street Taco Details*/
    #street_tacos h2 {
        background-color: #F2F2F2;
    }
    #street_tacos dl {
        justify-content: center;
        grid-template-columns: 100px 164px;
        margin-left: 64px;
    }
    .medium_screen {
        display: grid;
        grid-template-columns: 1.2fr 3fr;
    }
    .medium_screen ol {
        margin-right: 20px;
    }
    #side_dishes {
        display: grid;
        grid-template-areas:
        "h2 h2" 
        "section1 section2" 
        "section3 section4";
    }
    #side_dishes h2 {
        grid-area: h2;
    }
    #side_dishes section {
        height: 135px;
    }
    #side_dishes section h3 {
        margin-left: -10px;
    }
    #side_dishes figure {
        margin-left: -10px;
    }
    #side_dishes p {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .stars {
        left: 170px;
        top: -127px;
    }
    menu {
        margin-bottom: 0;
        margin-right: 0;
        margin-top: -115px;
        position: relative;
        top: 95px;
        background-color: rgba(249,249,249,0.7);
        padding-top: 13px;
        padding-bottom: 15px;
    }
    menu button {
        background-color: unset;
    }

    /*Hamburger Menu****************/
    nav ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    nav label span, nav input {
        display: none;
    }
    /*END Hamburger Menu****************/

    /*Removing Menu label, hamburger svg and their hover*/
    nav ul li:first-child span {
        display: none;
    }
    nav h2 svg {
        display: none;
    }
    nav label:hover, nav label {
        display: none;
    }
    /*Repositioning Utensils svg*/
    nav li:first-child svg {
        background-color: #EB5428;
        position: absolute;
        top: 0;
        margin-top: -100px;
        margin-left: -2px;
        margin-right: 0;
        width: 100px;
        height: 98px;
    }
    /*Repositioning avatar and sign-in label, & adjusting hover style*/
    nav li:last-child svg {
        stroke: #EB5428;
        width: 95px;
        position: absolute;
        top: 0;
        margin-top: 11px;
        margin-right: -7px;
    }
    nav li:last-child span {
        position: absolute;
        top: 0;
        margin-top: 50px;
        margin-left: 26px;
        width: 90px;
        color: #000;
    }
    nav li:last-child a {
        margin-left: -96px;
        margin-top: -30px;
        position: absolute;
        top: -68px;
        height: 83px;
        width: 86px;
    }
    nav li:last-child a:hover {
        background-color: rgba(235,84,40,.4);
        transition: all .5s ease-out;
    }
    #search_bar {
        order: -60;
        margin-left: 250px;
        margin-top: 20px;
    }
    nav {
        position: relative;
        top: 30px;
        height: 136px;
        box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, .25);
    }
    nav li:nth-child(2) {
        margin-top: 2px;
        margin-left: -80px;
    }
    nav a {
        flex-flow: column-reverse;
        align-items: center;
        padding-left: 0;
        padding-top: 17px;
        margin-left: 1px;
        margin-right: 3px;
    }
    nav a span:hover {
        color: #FFF;
        transition: all .5s ease-out;
    }
    nav ul {
        display: flex;
    }
    nav ul img {
        width: 75%;
        margin-bottom: 5px;
    }
    nav li {
        display: flex;
        align-items: start;
    }
    nav li a {
        padding-right: 0;
        width: 100px;
    }
    #menu_a {
        background-color: #FFF;
    }
    .menu_links {
        color: #EB5428;
    }
    .medium_footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #social {
        margin-left: 3px;
        margin-top: -117px;
        order: 4;
    }
    footer div {
        padding-top: 10px;
    }
}
@media screen and (min-width:1280px) {
    body {
        width: 1280px;
        background-color: #F2F2F2;
    } 
    #street_tacos h2 {
        text-align: center;
    }
    menu {
        background-color: #FFF;
        border: 2px solid #EB5428;
        flex-flow: column;
        width: 150px;
        align-items: center;
        margin-top: -95px;
        height: 771px;
    }
    .large_screen {
        display: grid;
        grid-template-columns: 1fr 5fr 6fr;
    }
    #details {
        background-color: #000;
        color: #7ABFBF;
        height: 119px;
    }
    #details h3 {
        padding-bottom: 20px;
    }
    dl {
        display: grid;
        grid-template-areas: 
        "dt1 dt2 dt3 dt4 dt5"
        "dd1 dd2 dd3 dd4 dd5";
        margin-left: 101px;
        grid-row-gap: 0;
        grid-column-gap: 104px;
    }
    dt {
        width: 145px;
    }
    dd {
        width: 145px;
    }
    dl dt:first-child {
        grid-area: dt1;
    }
    dl dt:nth-of-type(2) {
        grid-area: dt2;
        margin-left: 35px;
    }
    dl dt:nth-of-type(3) {
        grid-area: dt3;
    }
    dl dt:nth-of-type(4) {
        grid-area: dt4;
        margin-left: 27px;
    }
    dl dt:nth-of-type(5) {
        grid-area: dt5;
        margin-left: -5px;
    }
    dl dd:first-child {
        grid-area: dd1;
    }
    dl dd:nth-of-type(2) {
        grid-area: dd2;
        margin-left: 35px;
    }
    dl dd:nth-of-type(3) {
        grid-area: dd3;
    }
    dl dd:nth-of-type(4) {
        grid-area: dd4;
    }
    dl dd:nth-of-type(5) {
        grid-area: dd5;
    } 
    #side_dishes {
        grid-template-areas:
        "h2     h2    h2    h2" 
        "section1 section2 section3 section4";
        height: 452px;
    }
    #side_dishes section {
        height: 422px;
        padding-top: 125px;
    }
    #side_dishes section h3 {
        margin-left: -94px;
        left: 138px;
        top: 127px;
    }
    #side_dishes figure {
        margin-left: -35px;
      }
    #side_dishes img {
        width: 66%;
        margin-left: 79px;
        top: -147px;
    }
    #side_dishes p {
        margin-left: -51px;
        padding-top: 0;
        padding-bottom: 7px;
    }
    #side_dishes figcaption {
        margin-left: -49px;
        top: -100px;
        left: 130px;
    }
    .stars {
        left: 111px;
        top: -127px;
    }
    nav {
        top: 5px;
        background-color: #FFF;
    }
    nav li {
        margin-left: 25px;
    }
    nav li:first-child {
        margin-left: 185px;
    }
    nav li:first-child svg {
        margin-top: 21px;
        margin-left: -332px;
        top: -26px;
        padding: 36px;
        width: 140px;
        height: 141px;
    }
    nav li:last-child a {
        margin-left: 59px;
        margin-top: 86px;
    }
    nav li:last-child span {
        margin-top: 51px;
        margin-left: 26px;
    }
    nav li:last-child svg {
        margin-top: 13px;
        margin-right: -5px;
    }
    #search_bar {
        order: -2;
        margin-left: 1px;
        margin-top: 34px;
    }
    #social {
        margin-left: -21px;
        justify-self: start;
        margin-top: 29px;
    }
    #social li {
        padding-left: 66px;
    }
    footer div {
        flex-flow: row-reverse;
        align-items: flex-start;
        justify-content: flex-end;
    }
    footer small {
        margin-top: 23px;
        margin-left: -25px;
    }
    

}